a{
    color: ;
}

a:hover, a:focus {
    color: ;
}

.error {
    color: ;
}

.btn, .btn-primary{
    background-color: ;
    border-color: ;
}
.btn-primary.disabled {
    background-color: ;
    border-color: ;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active{
    background-color: ;
    border-color: ;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
    background-color: ;
    border-color: ;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary, .btn:hover{
    background-color: ;
    border-color: ;
}

.sidebar:after{
    background-color: ;
}

@media (min-width: 1000px)
.logo__image--small {
    max-height: 2.85714em;
}


.logo__image--small {
    max-height: 2.14286em;
}


@media (min-width: 1000px)
.logo__image--large {
    max-height: 5.71429em;
}


.logo__image--large {
    max-height: 3.57143em;
}


@media (min-width: 1000px)
.logo__image--medium {
    max-height: 4.28571em;
}

.logo--center {
    text-align: center;
}

.logo--left {
    text-align: left;
}

.logo--right {
    text-align: right;
}

.logo__image--medium {
    max-height: 2.85714em;
}

input, .form-control, input[required]{
    background-color: ;
}

body.body--custom-background-color{
   background-color: ;
}

body.body--custom-background-image{
    background:url(//bizweb.dktcdn.net/100/037/483/themes/48701/assets/checkout_body_background_image.jpg?1459132227274) center top;
}

h1,h2,h3,h4,h5,h6{
    font-family: ;
}

body{
    font-family: ;
}

.order-summary.order-summary--custom-background-color{
   background-color: ;
}

.order-summary--custom-background-image, .order-summary--custom-background-image.sidebar:after{
   background:url(//bizweb.dktcdn.net/100/037/483/themes/48701/assets/checkout_sidebar_background_image.jpg?1459132227274) center top;
}