body {
    font-size: 14px;
    color: #333;
    background-color: #fff;
}
.contain {
    position: relative;
    margin: auto;
    background: #fff;
    width: 100%;
}
.header-container {
    background: #c22b3b;
}
.header-top {
    border-bottom: 1px dotted #ed5565;
    padding: 0px 0px 6px 0px;
}
.container {
    width: 1170px;
}
.header-top .welcome-msg {
    text-align: left;
    padding: 0px;
    margin: 8px 0px 0px 0px;
    font-size: 12px;
    color: #fff;
}
.link {
    text-align: right;
    padding: 0px;
    margin: 8px 0px 0px 0px;
    font-size: 12px;
    color: #fff;
}
.dangky a{
	float:right;
    padding: 0px;
    font-size: 12px;
    color: #fff;
}
.dangnhap a{
    float:right;
    padding: 0px;
    margin: 0px 20px 0px 0px;
    font-size: 12px;
    color: #fff;
}
.logo {
    margin-top: 20px;
    text-align: left;
    padding-bottom: 15px;
    display: inline-block;
}
.search-box {
    width: 100%;
    margin: 16px auto;
    float: right;
    position: relative;
    padding: 0px 0px 0px 37px;
    border-radius: 2px;
}
#search {
    margin: 0;
    width: 62%;
    font-size: 12px;
    height: 32px;
    color: #333;
    border: 1px solid #F5F5F5;
    padding: 0 10px;
    outline: none;
    float: left;
}
.search-btn-bg {
    background-color: #ed5565;
    border: 1px solid #ed5565;
    border-radius: 0 2px 2px 0;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 32px;
    line-height: 17px;
    padding: 5px 15px;
    position: absolute;
    text-transform: uppercase;
}
.top-cart-contain {
    color: #333;
    display: block;
    float: right;
    margin: 15px 0px 0px 0px;
    padding: 0;
    right: 0;
    z-index: 1000;
}
.mini-cart {
    text-align: left;
    cursor: pointer;
    margin: 0px 0px 0px 0px;
    padding: 1px 18px 1px 18px;
    background: #ed5565;
    border-radius: 3px;
}
.title {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 1em;
    text-transform: uppercase;
	padding:10px 10px;
	line-height:30px;
}
.nav-inner {
    margin: auto;
    position: relative;
    text-align: center;
    height: 44px;
}
nav {
    position: relative;
    z-index: 999;
    background: #ed5565;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
}
#nav {
    position: relative;
    z-index: 10;
    padding: 0;
    margin: auto;
    text-align: center;
}
#nav > li.drop-menu {
    position: relative;
}
#nav > li {
    list-style: none;
    border-bottom: none;
    display: block;
    float: left;
}
#nav > li > a {
    color: #fff;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 18px;
    padding: 13px 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
#nav > li > a > span {
    display: inline-block;
    line-height: 18px;
	font-weight:bold;
}
#nav > li > a:hover {
    background: #f5f5f5;
    color: #333;
}
#nav > li > a {
    font-size: 13px;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
#slide {
    border: none;
    padding: 0;
    margin: 20px auto;
    margin-bottom: 10px;
}
.header-service {
    padding: 12px 0;
    color: #777;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.4em;
    text-transform: uppercase;
    overflow: hidden;
    border-top: 1px #e5e5e5 solid;
    border-bottom: 1px #e5e5e5 solid;
}
.icon-truck {
    font-weight: bold;
    color: #c22b3b;
	text-align:center;
}

