body {
    font-size: 14px;
    color: #333;
    background-color: #fff;
}
.contain {
    position: relative;
    margin: auto;
    background: #fff;
    width: 100%;
}
.header-container {
    background: #c22b3b;
}
.header-top {
    border-bottom: 1px dotted #ed5565;
    padding: 0px 0px 6px 0px;
}
.container {
    width: 1170px;
}
.header-top .welcome-msg {
    text-align: left;
    padding: 0px;
    margin: 8px 0px 0px 0px;
    font-size: 12px;
    color: #fff;
}
.link {
    text-align: right;
    padding: 0px;
    margin: 8px 0px 0px 0px;
    font-size: 12px;
    color: #fff;
}
.dangky a{
	float:right;
    padding: 0px;
    font-size: 12px;
    color: #fff;
}
.dangnhap a{
    float:right;
    padding: 0px;
    margin: 0px 20px 0px 0px;
    font-size: 12px;
    color: #fff;
}
.logo {
    margin-top: 20px;
    text-align: left;
    padding-bottom: 15px;
    display: inline-block;
}
.search-box {
    width: 100%;
    margin: 16px auto;
    float: right;
    position: relative;
    padding: 0px 0px 0px 37px;
    border-radius: 2px;
}
#search {
    margin: 0;
    width: 62%;
    font-size: 12px;
    height: 32px;
    color: #333;
    border: 1px solid #F5F5F5;
    padding: 0 10px;
    outline: none;
    float: left;
}
.search-btn-bg {
    background-color: #ed5565;
    border: 1px solid #ed5565;
    border-radius: 0 2px 2px 0;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 32px;
    line-height: 17px;
    padding: 5px 15px;
    position: absolute;
    text-transform: uppercase;
}
.top-cart-contain {
    color: #333;
    display: block;
    float: right;
    margin: 15px 0px 0px 0px;
    padding: 0;
    right: 0;
    z-index: 1000;
}
.mini-cart {
    text-align: left;
    cursor: pointer;
    margin: 0px 0px 0px 0px;
    padding: 1px 18px 1px 18px;
    background: #ed5565;
    border-radius: 3px;
}
.title {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 1em;
    text-transform: uppercase;
	padding:10px 10px;
	line-height:30px;
}
.nav-inner {
    margin: auto;
    position: relative;
    text-align: center;
    height: 44px;
}
nav {
    position: relative;
    z-index: 999;
    background: #ed5565;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
}
#nav {
    position: relative;
    z-index: 10;
    padding: 0;
    margin: auto;
    text-align: center;
}
#nav > li.drop-menu {
    position: relative;
}
#nav > li {
    list-style: none;
    border-bottom: none;
    display: block;
    float: left;
}
#nav > li > a {
    color: #fff;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 18px;
    padding: 13px 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
#nav > li > a > span {
    display: inline-block;
    line-height: 18px;
	font-weight:bold;
}
#nav > li > a:hover {
    background: #f5f5f5;
    color: #333;
}
#nav > li > a {
    font-size: 13px;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
#slide {
    border: none;
    padding: 0;
    margin: 20px auto;
    margin-bottom: 10px;
}
.header-service {
    padding: 12px 0;
    color: #777;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.4em;
    text-transform: uppercase;
    overflow: hidden;
    border-top: 1px #e5e5e5 solid;
    border-bottom: 1px #e5e5e5 solid;
}
.icon-truck {
    font-weight: bold;
    color: #c22b3b;
	text-align:center;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------- Basic HTML tags -------------------- */
/*
	960 Grid System ~ Core CSS.
	Learn more ~ http://960.gs/

	Licensed under GPL and MIT.
*/

/* =Containers
--------------------------------------------------------------------------------*/
.container_12, .container_16 {
  height: 38px;
  margin: 0 auto;
  width: 1000px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16
{
}

.container_12 .grid_3,
.container_16 .grid_4
{
	width: 23%;
}

.container_12 .grid_6,
.container_16 .grid_8
{
	width: 48%;
}

.container_12 .grid_9,
.container_16 .grid_12
{
	width: 73%;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/

.alpha
{
	margin-left: 0;
}

.omega
{
	margin-right: 0;
}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/

.container_12 .grid_1
{
	width: 6.333%;
}

.container_12 .grid_2
{
	width: 14.666%;
}

.container_12 .grid_4
{
	width: 100%;
}
.grid_main_l{width:300px;float: left;}
.grid_main_r{width:680px;float: right;}
.container_12 .grid_5
{
	width: 39.666%;
}

.container_12 .grid_7
{
	width: 56.333%;
}

.container_12 .grid_8
{
	width: 64.666%;
}

.container_12 .grid_10
{
	width: 81.333%;
}

.container_12 .grid_11
{
	width: 89.666%;
}

/* =Grid >> 16 Columns
--------------------------------------------------------------------------------*/

.container_16 .grid_1
{
	width: 4.25%;
}

.container_16 .grid_2
{
	width: 10.5%;
}

.container_16 .grid_3
{
	width: 16.75%;
}

.container_16 .grid_5
{
	width: 29.25%;
}

.container_16 .grid_6
{
	width: 35.5%;
}

.container_16 .grid_7
{
	width: 41.75%;
}

.container_16 .grid_9
{
	width: 54.25%;
}

.container_16 .grid_10
{
	width: 60.5%;
}

.container_16 .grid_11
{
	width: 66.75%;
}

.container_16 .grid_13
{
	width: 79.25%;
}

.container_16 .grid_14
{
	width: 85.5%;
}

.container_16 .grid_15
{
	width: 91.75%;
}

/* =Prefix Extra Space >> Global
--------------------------------------------------------------------------------*/

.container_12 .prefix_3,
.container_16 .prefix_4
{
	padding-left: 25%;
}

.container_12 .prefix_6,
.container_16 .prefix_8
{
	padding-left: 50%;
}

.container_12 .prefix_9,
.container_16 .prefix_12
{
	padding-left: 75%;
}

/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/

.container_12 .prefix_1
{
	padding-left: 8.333%;
}

.container_12 .prefix_2
{
	padding-left: 16.666%;
}

.container_12 .prefix_4
{
	padding-left: 33.333%;
}

.container_12 .prefix_5
{
	padding-left: 41.666%;
}

.container_12 .prefix_7
{
	padding-left: 58.333%;
}

.container_12 .prefix_8
{
	padding-left: 66.666%;
}

.container_12 .prefix_10
{
	padding-left: 83.333%;
}

.container_12 .prefix_11
{
	padding-left: 91.666%;
}

/* =Prefix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/

.container_16 .prefix_1
{
	padding-left: 6.25%;
}

.container_16 .prefix_2
{
	padding-left: 12.5%;
}

.container_16 .prefix_3
{
	padding-left: 18.75%;
}

.container_16 .prefix_5
{
	padding-left: 31.25%;
}

.container_16 .prefix_6
{
	padding-left: 37.5%;
}

.container_16 .prefix_7
{
	padding-left: 43.75%;
}

.container_16 .prefix_9
{
	padding-left: 56.25%;
}

.container_16 .prefix_10
{
	padding-left: 62.5%;
}

.container_16 .prefix_11
{
	padding-left: 68.75%;
}

.container_16 .prefix_13
{
	padding-left: 81.25%;
}

.container_16 .prefix_14
{
	padding-left: 87.5%;
}

.container_16 .prefix_15
{
	padding-left: 93.75%;
}

/* =Suffix Extra Space >> Global
--------------------------------------------------------------------------------*/

.container_12 .suffix_3,
.container_16 .suffix_4
{
	padding-right: 25%;
}

.container_12 .suffix_6,
.container_16 .suffix_8
{
	padding-right: 50%;
}

.container_12 .suffix_9,
.container_16 .suffix_12
{
	padding-right: 75%;
}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/

.container_12 .suffix_1
{
	padding-right: 8.333%;
}

.container_12 .suffix_2
{
	padding-right: 16.666%;
}

.container_12 .suffix_4
{
	padding-right: 33.333%;
}

.container_12 .suffix_5
{
	padding-right: 41.666%;
}

.container_12 .suffix_7
{
	padding-right: 58.333%;
}

.container_12 .suffix_8
{
	padding-right: 66.666%;
}

.container_12 .suffix_10
{
	padding-right: 83.333%;
}

.container_12 .suffix_11
{
	padding-right: 91.666%;
}

/* =Suffix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/

.container_16 .suffix_1
{
	padding-right: 6.25%;
}

.container_16 .suffix_2
{
	padding-right: 16.5%;
}

.container_16 .suffix_3
{
	padding-right: 18.75%;
}

.container_16 .suffix_5
{
	padding-right: 31.25%;
}

.container_16 .suffix_6
{
	padding-right: 37.5%;
}

.container_16 .suffix_7
{
	padding-right: 43.75%;
}

.container_16 .suffix_9
{
	padding-right: 56.25%;
}

.container_16 .suffix_10
{
	padding-right: 62.5%;
}

.container_16 .suffix_11
{
	padding-right: 68.75%;
}

.container_16 .suffix_13
{
	padding-right: 81.25%;
}

.container_16 .suffix_14
{
	padding-right: 87.5%;
}

.container_16 .suffix_15
{
	padding-right: 93.75%;
}

/* =Clear Floated Elements
--------------------------------------------------------------------------------*/


html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear
{
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}


.clearfix:after
{
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}

.clearfix
{
	display: inline-block;
}

* html .clearfix
{
	height: 1%;
}

.clearfix
{
	display: block;
}

body {
	font: 12px/1.5 tahoma,arial;
	color: #444444;
	background-color: #f6f6f6;
	}

a:focus {
	outline: 1px dotted invert;
	}

hr {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0 0;
	clear: both;
	height: 0;
	}


h1 {
	font-size: 30px;
	letter-spacing: -1.5px;
	}

h2 {
	font-size: 24px;
	letter-spacing: -1px;
	}

h3 {
	font-size: 18px;
	}

h4 {
	font-size: 14px;
	}

h5 {
	font-size: 12px;
	}

h6 {
	font-size: 10px;
	}

ol {
	list-style: decimal;
	list-style-position: inside;
}

ul.bullets {
	list-style: disc;
	list-style-position: inside;
	}

ul.bullets li {
	margin-left: 20px;
	margin-bottom: 5px;
	}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
	margin-bottom: 15px;
	}

a, 
a:visited { 
	color:#0063be; text-decoration: none; 
	}

a:hover, a:active { 
	text-decoration: underline; 
	}

h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited { 
	color: #444444; 
	}

h1 a:hover, h1 a:active, h2 a:hover, h2 a:active, h3 a:hover, h3 a:active, h4 a:hover, h4 a:active, h5 a:hover, h5 a:active, h6 a:hover, h6 a:active { 
	color:#0063be; 
	}




/* --------------------  Custom general classes -------------------- */

.align-left    { text-align: left; }
	
.align-right   { text-align: right; }
	
.align-center  { text-align: center; }
	
.align-justify { text-align: justify; }
	
.float-left    { float: left; }
	
.float-right   { float: right; }

.bottom-spacing {margin: 12px;}


/* -------------------- Logo -------------------- */

#header-main #logo { 
	background: url(../images/logo.gif) no-repeat left 10px; 
	width: 100%; 
	height: 70px; 
	}

/* -------------------- Tabs -------------------- */

ul#nav li {
	background:transparent url(../images/tab-left.gif) no-repeat scroll left top;
	float:left;
	margin:0 5px 0 0;
	padding:0 0 0 9px;
	}

ul#nav li a, ul#nav li a:visited {
	background:transparent url(../images/tab-right.gif) no-repeat scroll right top;
	color:#FFFFFF;
	display:block;
	float:left;
	padding:7px 15px 6px 6px;
	text-decoration:none;
	}
	
ul#nav li a:hover {
	padding:8px 15px 5px 6px;
	}

ul#nav li#current { /* give the id="current" to the currently selected tab */
	background:transparent url(../images/tab-active-left.gif) no-repeat scroll left top;
	}

ul#nav li#current a {
	background:transparent url(../images/tab-active-right.gif) no-repeat scroll right top;
	color:#444444;
	}

/* -------------------- Page elements -------------------- */



#header { 
	margin-bottom: 20px; 
	}

#header-status {
	background: #000000; 
	padding: 0; 
	color: #aaaaaa;
	}
	
#text-invitation {
	display: block; 
	float: left; 
	padding: 9px 0 11px 0;
	}

#message-notification {
	display: block; 
	float: left; 
	background: url(../images/mail-q-bg.jpg) top left no-repeat; 
	color: #6dc6e7; 
	padding: 9px 0 11px 0; 
	text-decoration: none; 
	margin-left: 10px;
	}
	
#message-notification span { 
	color: #444444; 
	margin-right: 15px; 
	text-align: center; 
	display: block; 
	float: left; 
	width: 32px; 
	}
	
#message-notification a:hover, 
#message-notification a:active { 
	color: #ffffff; 
	}
	
a.user-pro, 
a.user-pro:visited { 
	display: block; 
	float: right; 
	background: url(../images/icon-logout.gif) center right no-repeat; 
	color: #6dc6e7; 
	padding: 9px 20px 11px 0px; 
	text-decoration: none; 
	}
	
a.user-pro:hover, 
a.user-pro:active { 
	color: #ffffff; 
	}
.user-pro{padding: 10px 0px;}
.user-pro li {
  background: url("../images/icon-logout.gif") no-repeat scroll right center rgba(0, 0, 0, 0);
  float: right;
  margin-left: 40px;
  padding-right: 20px;
  text-align: right;
}
.user-pro li a{color:#FFF;}

#header-main { 
	background: #005195 url(../images/header-bg.jpg) repeat-x top left;
	height: 94px;
	}
	
#header-main #logo { 
	background: url(../images/logo.gif) no-repeat left 10px; 
	width: 100%; 
	height: 70px; 
	}
	
#subnav {
	background: #ffffff url(../images/submenu-bg.gif) repeat-x bottom left;
		height: 48px;
	}
	
#subnav ul { 
	list-style: none;
	margin: 0;
	padding: 0;

	}
	
#subnav ul li { 
	float: left; 
	margin: 0 38px 0 0; 
	padding: 0;
	}
.module-body p.p{margin-top:26px; margin-bottom:0px !important}	
#subnav ul a, 
#subnav ul a:visited { 
	display:block;
	float: left;
	color:#0063be; 
	font-size: 14px; 
	padding: 9px 0 0 0;
	text-decoration: none; 
	}
	
#subnav ul a:hover, 
#subnav ul a:active { 
	text-decoration: underline; 
	}
.padding-bottom{padding-bottom:220px;}
#footer {
	color: #aaaaaa;
	border-top: 2px solid #cccccc;
	height: 50px;
	line-height: 50px;
}

/* -------------------- Nav tabs (sliding door technique) -------------------- */
ul#nav { 
	float: left; 
	margin-top: 60px; 
	list-style: none; 
	font-size:14px; 
	margin-bottom: 0;
	
	}

ul#nav li {
	background:transparent url(../images/tab-left.gif) no-repeat scroll left top;
	float:left;
	margin:0 5px 0 0;
	padding:0 0 0 9px;
	}

ul#nav li a, ul#nav li a:visited {
	background:transparent url(../images/tab-right.gif) no-repeat scroll right top;
	color:#FFFFFF;
	display:block;
	float:left;
	padding:7px 15px 6px 6px;
	text-decoration:none;
	}

ul#nav li a:hover {
	padding:8px 15px 5px 6px;
	}

ul#nav li#current { /* give the id="current" to the currently selected tab */
	background:transparent url(../images/tab-active-left.gif) no-repeat scroll left top;
	}

ul#nav li#current a {
	background:transparent url(../images/tab-active-right.gif) no-repeat scroll right top;
	color:#444444;
	}




/* -------------------- Box module -------------------- */

div.module {
  float: left;
  margin-bottom: 10px;
  width: 100%;
}

div.module div.module-body { 
	background:#fff;
	border: 1px solid #CACACA;
	padding:20px;
}

/* Percentage padding in the module dependant on the cell width */
.grid_1 div.module div.module-body  { padding: 20px 8% 20px 8%; float: left; width: 84%; }
.grid_2 div.module div.module-body  { padding: 20px 7% 20px 7%; float: left; width: 86%; }
.grid_3 div.module div.module-body  { padding: 20px 6% 20px 6%; float: left; width: 88%; }
.grid_4 div.module div.module-body  { padding: 20px 5% 20px 5%; float: left; width: 90%; }
.grid_5 div.module div.module-body  { padding: 20px 4% 20px 4%; float: left; width: 92%; }
.grid_6 div.module div.module-body  { padding: 20px 3% 20px 3%; float: left; width: 94%; }
.grid_7 div.module div.module-body  { padding: 20px 2.75% 20px  2.75%; float: left; width: 94.5%; }
.grid_8 div.module div.module-body  { padding: 20px 2.5% 20px 2.5%; float: left; width: 95%; }
.grid_9 div.module div.module-body  { padding: 20px 2.25% 20px 2.25%; float: left; width: 95.5%; }
.grid_10 div.module div.module-body { padding: 20px 2% 20px 2%; float: left; width: 96%; }
.grid_11 div.module div.module-body { padding: 20px 1.75% 20px 1.75%; float: left; width: 96.5%; }

	
div.module div.module-table-body { 
	padding: 0; 
	float: left; 
	width: 100%; 
	}

div.module h2 { 
    /* Sliding right image */
    background: #cacaca; 
	display: block;
	float: left;
	height: 32px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
	margin-right: 0px;
	padding-right: 0px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
	/* FONT PROPERTIES */
	text-decoration: none;
	color: #444444;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	width: 100%;
	margin-bottom: 0;
	letter-spacing: normal
	}

div.module h2 span { 
	/* Background left image */ 
	display: block;
	line-height: 20px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
	padding: 7px 0 5px 18px;

	}

div.module table {
	width: 100%; 
	margin: 0 0 10px 0;
	border-left: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	}

div.module table.tr {
	border-collapse: separate;
	border-right: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
	}

div.module table th {
	background-color: #eeeeee;
	color: #444444;
	padding: 5px;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	}
	
div.module table td {
	background-color: #ffffff;
	padding: 5px;;
	border-right: 1px solid #d9d9d9;
	}

div.module table tr.odd td { /* You can use this style if you want to do zebra-colored tables with other technique than Table Sorter script used here */
	background-color: #f1f5fa;
	}
	
.table-apply {
	width: 40%; float: right; text-align: right; margin-right: 10px;
	}




/* -------------------- Pager -------------------- */
.pager {
	display: block; padding: 0px 10px 10px 10px;  width: 40%; float: left; 
	}

.pager .first,
.pager .prev,
.pager .next,
.pager .last {
	margin-bottom: -2px;
	}





/* -------------------- Button (sliding door technique) -------------------- */

/* button outside a module box */
a.button {
    /* Sliding right image */
    background: transparent url(../images/button-right-bg-m.gif) no-repeat scroll top right; 
	display: block;
	float: left;
	height: 26px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
	padding-right: 11px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
	/* FONT PROPERTIES */
	text-decoration: none;
	color: #444444;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	}
	
a.button span {
	/* Background left image */ 
	background: transparent url(../images/button-left-bg-m.gif) no-repeat top left; 
	display: block;
	line-height: 15px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
	padding: 4px 0 7px 10px;
	}

a.button:hover { 
	background-position: bottom right; color:#0063be; 
	}

a.button:hover span{
	background-position: bottom left;
	color:#0063be;
	}

/* button inside a module box */
div.module a.button {
    /* Sliding right image */
    background: transparent url(../images/button-right-bg.gif) no-repeat scroll top right; 
	display: block;
	float: left;
	height: 26px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
	padding-right: 11px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
	/* FONT PROPERTIES */
	text-decoration: none;
	color: #444444;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	}
	
div.module a.button span {
	background: transparent url(../images/button-left-bg.gif) no-repeat top left; 
	display: block;
	line-height: 15px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
	padding: 4px 0 7px 10px;
	}



/* -------------------- Pagination -------------------- */

.pagination { margin-bottom: 20px; float: right;  }
.pagination a.button { margin-right: 10px; }
.pagination a.last { margin-right: 0; }
.pagination .numbers { float: left; padding-top: 3px; margin-right: 15px; }
.pagination .numbers span { padding: 0 5px 0 5px; } 
.pagination .current { font-weight: bold; color: #400040; }




/* -------------------- Forms -------------------- */

fieldset {
	margin-top: 15px; 
	margin-bottom: 15px; 
	}
	
legend {
	margin-bottom: 10px; 
	display: block; 
	}

#frmsearch {
	margin-left: 15px;
}	

label { 
	display: block; 
	margin-bottom: 5px; 
	}
	
.input-short,
.input-medium,
.input-long { 
	padding: 3px; 
	}
	
select { 
	padding: 2px; 
	}
#selectDM {
	margin-bottom: 15px;
	margin-right: 10px;
}
	
textarea { 
	padding: 3px; 
	}
	
.input-short { 
	width: 25% 
	}
	
.input-medium { 
	width: 50% 
	}
	
.input-long { 
	width: 50% 
	}
	
input.input-short,
input.input-medium,
input.input-long, 
select, 
textarea {
	background: url(../images/input-bg.gif) top left repeat-x #f6f6f6;
	border: 0;
	border: 1px solid #cccccc;
	}

input.input-short:focus,
input.input-medium:focus,
input.input-long:focus, 
select:focus, 
textarea:focus {
	background: url(../images/input-bg-focus.gif) top left repeat-x #ffffff;
	border-color: #a9c2d1;
	}


input.submit-green { 
	background: url(../images/submit.jpg) top left repeat-x; 
	border: 0; 
	border-top: 1px solid #ED5565; 
	border-left: 1px solid #ED5565; 
	border-right: 1px solid #ED5565; 
	border-bottom: 1px solid #ED5565; 
	color: #ffffff; 
	font-size: 14px; 
	padding: 2px 12px; 
	margin: 0px 10px 0 0;
	cursor: pointer;
	}

input.submit-green-hover { 
	background-image: url(../images/submit-green-bg-hover.gif);
	}

input.submit-gray { 
	background: url(../images/submit.jpg) top left repeat-x; 
	border: 0; 
	border-top: 1px solid #ED5565; 
	border-left: 1px solid #ED5565; 
	border-right: 1px solid #ED5565; 
	border-bottom: 1px solid #ED5565; 
	color: #ffffff; 
	font-size: 14px; 
	padding: 2px 12px; 
	margin: 0px 10px 0 0;
	cursor: pointer;
	}

input.submit-gray-hover { 
	background-image: url(../images/submit-gray-bg-hover.gif); 
	}




/* -------------------- Text input and select input notifications -------------------- */

.notification-input {
	background:10px 50% no-repeat;
	margin: 0 0 0 5px;
	padding:5px 0 5px 32px;
	font-size: 12px;
	}

.ni-correct {
	background-image:url(../images/tick-on-white.gif);
	color: #00ae42;
	}

.ni-error {
	background-image:url(../images/cross-on-white.gif);
	color: #c9282d;
	}




/* --------------------  Boxed notifications -------------------- */

.notification {
  background-position: 20px 20px;
  background-repeat: no-repeat;
  border: 1px solid;
  display: block;
  margin-bottom: 20px;
  margin-top: 26px;
  padding: 20px 20px 20px 45px;
}
.n-success {
	background-color: #a3e6bd;
	border-color: #68d59b;
	background-image: url(../images/notification-tick.gif);
	}

.n-information {
	background-color: #9fddea;
	border-color: #5fceea;
	background-image: url(../images/notification-information.gif);
	}

.n-attention {
	background-color: #f9e497;
	border-color: #ffcb4f;
	background-image: url(../images/notification-exclamation.gif);
	}

.n-error {
	background-color: #ffc6ca;
	border-color: #efb9c3;
	background-image: url(../images/notification-slash.gif);
	}

/* -------------------- Indicators -------------------- */


.indicator {
	width: 220px;
	height: 12px;
	background: url(../images/indicator-bg.gif) no-repeat top left;
	}

.indicator div {
	height: 12px;
	background: url(../images/indicator-green-to-red.gif) no-repeat top left;
	}

.indicator div.reverse {
	background: url(../images/indicator-red-to-green.gif) no-repeat top left;
	}




/* -------------------- Category list -------------------- */

a.removable, 
a.removable:visited {
	padding: 5px 18px 5px 0px;
	}

a.removable:hover, 
a.removable:active {
	background: url(../images/cross-small.gif) no-repeat center right;
	}




/* -------------------- To-do list -------------------- */

a.checkable, 
a.checkable:visited {
	padding: 5px 18px 5px 0px;
	}

a.checkable:hover, 
a.checkable:active {
	background: url(../images/tick-small.gif) no-repeat center right;
	}
	
a.completed, 
a.completed:visited {
	color: #aaaaaa;
	}




/* -------------------- Messages -------------------- */
.separated { 
	border-top: 1px solid #cccccc; 
	padding-top: 15px; 
	}
	
.user { 
	display: block; 
	padding-left: 22px; 
	background: url(../images/user.gif) left 50% no-repeat; 
	font-size: 14px; color: #666666; 
	font-weight: normal;  
	}
	
.user-female { 
	display: block; 
	padding-left: 22px; 
	background: url(../images/user-female.gif) left 50% no-repeat; 
	font-size: 14px; 
	color: #666666; 
	font-weight: normal;  
	}
	
.reply { 
	padding-left: 20px; 
	background: url(../images/arrow-curve-180-left.gif) left 50% no-repeat; 
	margin-right: 7px;
	}
	
.forward { 
	padding-left: 20px; 
	background: url(../images/arrow-curve-000-left.gif/) left 50% no-repeat; 
	margin-right: 7px; 
	}
	
a.delete, 
a.delete:visited { 
	padding-left: 16px;
	background: url(../images/cross-small.gif) left 50% no-repeat; 
	color: #C00;  
	}

h3.mail { 
	display: block; 
	padding: 20px 0px 20px 70px; 
	background: url(../images/Crystal_Project_mail_open.gif) left 50% no-repeat;
	}
	
#p-messages {
	padding: 20px;
}





/* -------------------- Login page -------------------- */

form.login {
	background: url(../images/Crystal_Clear_locked.gif) 87% 10px no-repeat;
}





/* -------------------- Dashboard -------------------- */

a.dashboard-module, 
a.dashboard-module:visited { 
	width: 142px; 
	height: 142px; 
	display: block; 
	float: left; 
	background: url(../images/dashboard-module.gif) top left no-repeat; 
	margin: 0 8px 8px 0;  
	text-align: center; 
	color: #444444; 
	}
	
a.dashboard-module:hover, 
a.dashboard-module:active { 
	background-position: bottom left; 
	text-decoration: none; 
	color:#0063be; 
	}

a.dashboard-module img { 
	margin-top: 20px; 
	}
	
a.dashboard-module span { 
	margin-top: 10px; 
	display: block; 
	}
#myTable td{vertical-align: middle;}
#myTable .hoa{width:100px; height: 60px;border-radius:4px;}
#myTable tr:nth-child(even) td{background: #F6F6F6}
#myTable tr:hover td{background: #EEEEEE}